.layout {
  min-height: 100vh;
}

.logo {
  height: 2rem;
  margin: 1rem;
}

.appName {
  color: #fff;
  display: flex;
  justify-content: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.content {
  margin: 1rem;
}

.footer {
  text-align: center;
}
